/* src/styles/productos.css */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.producto-form {
  border: 1px solid #ccc;
  background: #fafafa;
  padding: 15px;
  margin-bottom: 20px;
}
button {
  margin: 2px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
}
